:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  padding: 0;

  width: 100%;
  background-clip: border-box;
  height: auto;

  color-scheme: light dark;
  background: linear-gradient(#162547, #00bbd8);
}

a {
  text-decoration: none;
  color: white;
}

.app {
  width: auto;
}
